<!DOCTYPE html>
<html lan="en" class="has-navbar-fixed-top">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Sharit</title>
	{{!-- bulma cdn  --}}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" />
	{{!-- google font  --}}
	<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet" />
	{{!-- fontawsome cdn  --}}

	<link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet" />

	
</head>

<body>




	{{{ body }}}


	

{{!-- nav toggle action --}}
<script type="text/javascript" src="js/main.js"></script>

</body>

</html>