	{{!-- navbar  --}}
<nav class="navbar is-fixed-top is-dark">
  <div class="container">
    {{!-- sharit logo  --}}
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-size-3" href="/">
        Shar <span>it</span>
      </a>
      <div class="navbar-burger burger" data-target="nav-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    {{!-- navbar menu --}}
    <div id="nav-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item is-active" href="/profile">
          Profile
        </a>
        <a class="navbar-item" href="/logout">
          Log Out
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="columns is-mobile mt-3em">
  <div class="column is-half is-offset-one-quarter has-text-centered">
    <div class="columns is-mobile is-centered mt-1em">
      <figure class="image is-64x64">
          <img class="is-rounded" src="https://pbs.twimg.com/profile_images/663874141854961666/HXz-_UA4_normal.jpg" />
      </figure>
    </div>
    {{userName}}
  </div>
</div>


  {{!-- display posts for current user  --}}
  <div class="grid m-2em">
    {{!-- grid-sizer required for the masonry working --}}
    <div class="grid-sizer"></div>

    {{#each posts}}

    <div class="grid-item">
      <div class="card">
        <header class="card-header">
          <h2 class='card-header-title'>Post date:</h2>

          {{!--HERE: get post modified data from database         //need to format it --}}
          <time class="post-date">{{dataValues.createdAt}}</time>
        </header>

        <div class="card-content">
          <div class="content">
            {{dataValues.text}}



            {{!--HERE: get post post photo from database, if exists--}}
            {{#if dataValues.post_photo}}
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />

            {{/if}}
          </div>
        </div>
        <footer class="card-footer">
          <a href="" class="card-footer-item"><i class="far fa-heart"></i></a>
          <a href="" class="card-footer-item"><i class="far fa-comment"></i></a>
          {{!-- leads to user profile page  --}}
          <a href="api/users/{{dataValues.UserId}}" target="_blank" class="card-footer-item"><i
              class="far fa-user-circle"></i></a>
        </footer>
      </div>
    </div>

    {{/each}}

  </div> 

  <link rel="stylesheet" href="./stylesheets/profile.css" />