	{{!-- navbar  --}}
<nav class="navbar is-fixed-top is-dark">
  <div class="container">
    {{!-- sharit logo  --}}
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-size-3">
        Shar <span>it</span>
      </a>
    </div>
  </div>
</nav>

<section id="bg">
  <img src="./img/ballons1.jpg" id="hero-bg" />
</section>

  <div class="columns  m-5em">
    <div class="column has-background-white signup-content shadow">          
        <label class="is-size-4 mb-2em">Sign Up Today!</label>
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input id="usernameSignup" class="input " placeholder="username">
              <span class="icon is-small is-left"> 
                <i class="fas fa-envelope"></i>
              </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input id="passwordSignup" class="input " type="password" placeholder="password">
              <span class="icon is-small is-left"> 
                <i class="fas fa-lock"></i>
              </span>
            </div>
        </div>
        <div class="field">
          <label class="label">First Name</label>
          <div class="control has-icons-left has-icons-right">
            <input id="firstNameSignup" class="input " placeholder="first name">
            <span class="icon is-small is-left"> 
              <i class="fas fa-user-alt"></i>
            </span>
          </div>
      </div>
      <div class="field">
        <label class="label">Last Name</label>
        <div class="control has-icons-left has-icons-right">
          <input id="lastNameSignup" class="input " placeholder="last name">
          <span class="icon is-small is-left"> 
            <i class="fas fa-user-alt"></i>
          </span>
        </div>
      </div>
      <div class="field is-grouped">
          <div class="control">
            <button id="signupBtn" class="button is-link">Sign up</button>
          </div>
      </div>
    </div>

    <div class="column has-background-white login-content shadow">
        <label class="is-size-4 mb-2em">Start Sharit!</label>
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input id="usernameLogin" class="input " placeholder="username">
              <span class="icon is-small is-left"> 
                <i class="fas fa-envelope"></i>
              </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input id="passwordLogin" class="input " type="password" placeholder="password">
              <span class="icon is-small is-left"> 
                <i class="fas fa-lock"></i>
              </span>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
              <button id="loginBtn" class="button is-link">Ok</button>
            </div>
        </div>
    </div>
  </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/loginHelper.js"></script>
<link rel="stylesheet" href="./stylesheets/signup-login.css" />