
/* general  */
* { box-sizing: border-box; }

html { overflow-y: scroll; }

#bg {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100vw;
  height:100vh;
  z-index:-1
}


.m-5em{
    margin: 5em;
}

.mb-2em{
    margin-bottom: 2em;
}

.signup-content{
    margin: 2em; 
    padding: 3em;
}

.login-content{
    margin: 2em; 
    padding: 3em; 
    display: inline-table;
}

/* navbar  */
.navbar-brand, .slogan  {
    font-family:'Pattaya', sans-serif;
  }
  
  
  .navbar-brand a span {
    color:#fa7000
  }
  
  

  @media screen and (max-width:1023px) {
.columns {
  margin:0px;
  padding: 20px!important;
}


  }
  @media screen and (max-width:768px) {
  .column {
    margin:20px 0px !important;
    width:100%;
  }
  }
  

  .shadow {
    border: solid 1px #ccc;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
  }
 
